.footer {
  background-color: $color-grey-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-light-grey-1;

  &__logo-container {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    height: auto;
    width: 15rem;
  }

  &__list {
    list-style: none;
  }

  &__nav {
    border-top: 1px solid $text-dark;
    padding-top: 2rem;
    display: inline-block;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.4rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-light-grey-1;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.4);
    }
  }

  &__copyright {
    border-top: 1px solid $text-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;
  }
}

.heart {
  color: red;
}
